<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
    <div class="container-fluid">
        <h3 class="mx-4">Lift</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/workouts" class="nav-link">Workout Log</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/login">Login</a>
                <% } else { %>
                <span class="navbar__user">Hi,&nbsp<%= currentUser.username %></span>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>