<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col my-3">
    <!-- Back button -->
    <a href="/workouts">
      <svg
        id="backbutton"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-compact-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
        />
      </svg>
    </a>
  </div>

  <div class="col-8 d-flex justify-content-center align-items-center">
    <h1>Edit Workout</h1>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-8">
    <form action="/workouts/<%=workout._id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control input--bg-transparent"
          type="text"
          id="title"
          name="workout[name]"
          value="<%= workout.name%>"
        />
      </div>
      <div class="mb-5">
        <label class="form-label" for="date">Date</label>
        <input
          class="form-control input--bg-transparent"
          type="date"
          id="date"
          name="workout[date]"
          value="<%= workout.date%>"
        />
      </div>
      <div>
        <button class="btn btn--border">Update</button>
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>
