<% layout('layouts/boilerplate') %>

<div class="container-fluid p-0">
  <div class="row my-5">
    <div
      class="col-1 col-sm-1 col-md-2 col-lg-3 g-0 d-flex justify-content-end align-items-center"
    >
      <!-- Back button -->
      <a href="/workouts">
        <svg
          id="backbutton"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
          />
        </svg>
      </a>
    </div>

    <div
      class="col-10 col-sm-10 col-md-8 col-lg-6 g-0 d-flex justify-content-center align-items-center"
    >
      <h1 class="heading--main">New Workout</h1>
    </div>
    <div class="col-1 col-sm-1 col-md-2 col-lg-3 g-0"></div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="row">
    <div class="col"></div>
    <div class="col-8 d-flex justify-content-center">
      <form
        action="/workouts"
        method="POST"
        class="form needs-validation"
        novalidate
      >
        <div class="mb-4">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-control input"
            type="text"
            id="title"
            name="workout[name]"
            placeholder="Workout name"
            required
          />
        </div>
        <div class="mb-5">
          <label class="form-label" for="date">Date</label>
          <input
            class="form-control input"
            type="date"
            id="date"
            name="workout[date]"
            required
          />
        </div>
        <div>
          <button class="btn btn--primary">Create</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
