:root {
  --primary-text: #e0fbfc;
  --bg-blue: #093b7c;
  --bg-nav-color: #0e3a73;
  --btn-primary: #4ab9ab;
  --btn-secondary: #4ab9ab;
  --background-color-dark: #023770;
  --background-gradient-colors: #083166, #000000;
  --placeholder-color: rgba(255, 255, 255, 0.555);
  --button-color: #e0fbfcad;
  --hover-color: #e0fbfc;
  --hover-highlight: rgba(232, 244, 255, 0.848);
  --button-border-color: #e0fbfc;
  --button-border-color--highlight: white;
  --hover-blue: rgb(83, 193, 226);
  --hover-yellow: rgb(255, 255, 213);
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background: linear-gradient(var(--background-gradient-colors)) fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.w-4 {
  width: 1%;
}

.w-32 {
  width: 33%;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
}

.btn {
  width: 8rem;
  color: white;
  font-size: 1rem;
  transition: all 0.35s ease-in;
}
.btn:focus, .btn:active {
  box-shadow: none;
}
.btn:hover {
  color: var(--hover-yellow);
}
.btn--primary {
  background-color: var(--btn-primary);
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.btn--primary:hover {
  color: white;
}
.btn--secondary {
  text-decoration: none;
  color: var(--btn-secondary);
  background-color: transparent;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid #3fc9b6;
}
.btn--secondary:hover {
  color: #3fc9b6;
}
.btn--secondary-secondary, .btn--secondary-secondary:hover {
  color: rgb(83, 193, 226);
  text-shadow: none;
}
.btn--form {
  width: 100%;
  color: white;
  border: none;
  padding: 0.6rem 0;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.25s ease-in;
}
.btn--form--success {
  background-color: rgb(0, 187, 131);
}
.btn--form--success:hover {
  background-color: rgba(0, 160, 112, 0.9);
}
.btn--border {
  border-radius: 20px;
  border: 2px solid white;
  border-color: var(--button-border-color);
}
.btn--border:focus {
  outline: none;
}
.btn--border:hover {
  color: var(--hover-color);
  border-color: var(--hover-highlight);
  transition: 0.2s ease-in-out;
}
.btn--no-border {
  color: var(--button-color);
}
.btn--no-border:hover {
  color: var(--hover-highlight);
}
.btn--svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.btn--delete-exercise {
  right: -25px;
}
.btn--delete-exercise:hover {
  color: rgb(0, 187, 131);
}
.btn--hero {
  display: inline-flex;
  align-items: center;
  color: white;
  border: 2px solid rgb(181, 202, 235);
  border-radius: 30px;
  padding: 0.8rem;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.35s ease-in;
  background-color: rgba(40, 85, 153, 0.5);
}
.btn--hero:hover {
  color: white;
  box-shadow: 0 0 10px 2px rgb(83, 193, 226);
}

.link--workout {
  color: white;
  text-decoration: none;
}
.link--workout:hover {
  color: var(--hover-yellow);
}

.heading--main {
  font-size: 2rem;
}
.heading--form {
  font-size: 1.5rem;
}
.heading__container--workout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  font-size: 1.1rem;
  transition: all 0.25s ease-in;
  padding: 1rem;
  border: none;
  box-shadow: inset 0 0 3px 2px rgba(0, 22, 101, 0.525);
}
.card:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.02);
}
.card--workout {
  background-color: var(--bg-blue);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem;
}
.card--exercise {
  background-color: var(--bg-blue);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-blue);
  width: 50%;
  padding: 3rem 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
}
.form__input--text {
  color: white;
  background-color: #0b3b7a;
  border: 1px solid rgba(255, 255, 255, 0.363);
  transition: all 0.3s ease-in;
}
.form__input--text:focus {
  color: white;
  background-color: transparent;
  outline: none;
}
.form__input--text::-moz-placeholder {
  color: var(--placeholder-color);
}
.form__input--text:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.form__input--text::placeholder {
  color: var(--placeholder-color);
}

.input {
  color: var(--primary-text);
}
.input::-moz-placeholder {
  color: var(--primary-text);
}
.input:-ms-input-placeholder {
  color: var(--primary-text);
}
.input::placeholder {
  color: var(--primary-text);
}
.input--text {
  width: 50px;
  margin: auto;
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
  border: none;
}
.input--text:focus {
  color: var(--primary-text);
}
.input--text::-moz-placeholder {
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
}
.input--text:-ms-input-placeholder {
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
}
.input--text::placeholder {
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
}
.input--bg-transparent, .input--bg-transparent:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: #719bc7;
  color: var(--primary-text);
  outline: none;
}
.input--bg-dark, .input--bg-dark:focus {
  background-color: var(--background-color-dark);
  color: var(--primary-text);
}
.input--no-border {
  border: none;
}
.input--number--edit {
  color: #e0fbfc;
  border: none;
  width: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}
.input--number--edit:hover {
  transform: scale(1.2);
}

.editableSetInput {
  width: 50px;
  margin: auto;
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
}
.editableSetInput:focus {
  outline: none;
  background: rgba(0, 0, 0, 0);
  color: white;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.table {
  color: var(--primary-text);
}

td {
  border-color: rgba(152, 193, 217, 0.2274509804);
  z-index: 1;
  vertical-align: middle;
  border-bottom: 1px solid rgba(152, 193, 217, 0.2274509804);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.buttonouter {
  border-top: 1px solid rgba(152, 193, 217, 0.1215686275);
}

.buttonouter * {
  z-index: 1;
}

.buttonoverlap * {
  z-index: 2;
  visibility: hidden;
}

.buttonouter:hover .buttonoverlap * {
  visibility: visible;
}

.table-header-row:hover {
  border: none;
}

.table-header__cell {
  border: none;
}

td.editableSetInput {
  width: 100px;
}

#setForm {
  text-align: center;
}

.addsetcollapse {
  background: rgba(0, 0, 0, 0);
  border-bottom: none;
}

tr.addsetcollapse:hover {
  border: none;
  box-shadow: none;
}

p.svg > svg {
  vertical-align: text-bottom;
}

p.svg:hover {
  border: none;
}

.hero__text__container {
  max-width: 60vw;
}
@media only screen and (max-width: 500px) {
  .hero__text--heading {
    font-size: 2rem;
  }
}
@media only screen and (max-width: xs) {
  .hero__text--heading {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 500px) {
  .hero__text--heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: s) {
  .hero__text--heading {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 900px) {
  .hero__text--heading {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: l) {
  .hero__text--heading {
    font-size: 2.7rem;
  }
}
.hero__text--description {
  line-height: 1.5;
}
@media only screen and (max-width: 500px) {
  .hero__text--description {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: xs) {
  .hero__text--description {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 500px) {
  .hero__text--description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: s) {
  .hero__text--description {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 900px) {
  .hero__text--description {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: l) {
  .hero__text--description {
    font-size: 1.3rem;
  }
}
.hero__image-container {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}

.logo--text {
  font-size: 2rem;
}
.logo--text a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: var(--bg-nav-color);
  padding: 0.8rem;
}
.navbar-collapse {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-center;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin: none;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-nav.ms-auto {
    margin: none;
  }
}

.navbar__user {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .navbar__user {
    line-height: 3;
    background-color: rgba(0, 0, 0, 0.45);
    margin-right: 0;
    border-bottom: 1px solid rgba(138, 138, 138, 0.15);
    justify-content: center;
  }
}

.nav-link {
  color: var(--primary-text);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .nav-link {
    border-bottom: 1px solid rgba(138, 138, 138, 0.15);
    line-height: 3;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
}
@media only screen and (max-width: 768px) {
  .nav-link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-color: none;
  }
}
.nav-link:active {
  background-color: white;
}

.nav-link:hover {
  color: var(--hover-yellow);
}

.navbar-toggler-icon {
  color: white;
}

.offcanvas {
  background-color: rgba(17, 55, 182, 0.64);
}

.workout-heading__title {
  color: var(--primary-text);
  border: none;
  font-size: 1.5em;
  width: 200px;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0);
}

.workout-heading__title:hover {
  transform: scale(1.1);
}

.workout-heading__title:focus {
  transform: scale(1.1);
}

.bi.bi-chevron-compact-left {
  margin-top: 10px;
  width: 45px;
  height: 45px;
  color: #e0fbfc;
  transition: all 0.1s ease-in-out;
}

.bi.bi-chevron-compact-left:hover {
  transform: scale(1.2);
}

.footer {
  background-color: transparent;
  padding: 1.5rem;
}
.footer__text--copy {
  color: rgb(147, 147, 147);
}

.navbar__container {
  background-color: rgb(83, 193, 226);
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}
.nav-link:active {
  color: white;
  border-bottom-color: white;
}

.footer {
  display: flex;
}

.form__container {
  max-width: 500px;
}
@media only screen and (max-width: 500px) {
  .form__container {
    width: 100%;
  }
}
@media only screen and (max-width: xs) {
  .form__container {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  .form__container {
    width: 80%;
  }
}
@media only screen and (max-width: s) {
  .form__container {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */