.navbar__container {
  background-color: rgb(83, 193, 226);
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);

  &:active {
    color: white;
    border-bottom-color: white;
  }
}

.footer {
  display: flex;
}
