.input {
  display: flex;
  justify-content: center;
  color: var(--primary-text);
  border: 1px solid var(--input-border-color);
  background-color: transparent;

  &--no-border {
    border: none;
  }

  &:focus {
    color: white;
    background-color: transparent;
    outline: none;
  }

  &::placeholder {
    color: var(--placeholder-color);
  }

  &--text {
    width: 50px;
    margin: auto;
    color: #e0fbfc;
    background: rgba(0, 0, 0, 0);
    border: none;

    &:focus {
      color: var(--primary-text);
    }

    &::placeholder {
      color: #e0fbfc;
      background: rgba(0, 0, 0, 0);
    }
  }

  &--bg-transparent,
  &--bg-transparent:focus {
    background-color: #00000000;
    border-color: #719bc7;
    color: var(--primary-text);
    outline: none;
  }

  &--bg-dark,
  &--bg-dark:focus {
    background-color: var(--background-color-dark);
    color: var(--primary-text);
  }

  &--number--edit {
    color: #e0fbfc;
    border: none;
    width: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
  }

  &--number--edit:hover {
    transform: scale(1.2);
  }
}

.editableSetInput {
  width: 50px;
  margin: auto;
  color: #e0fbfc;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;

  &:focus {
    outline: none;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
