<% layout('layouts/boilerplate')%>

<div class="container d-flex flex-column align-items-center mt-5">
  <div class="form form__container mb-3">
    <h1 class="mb-5 fs-2">Member Login</h1>
    <form action="/login" class="w-75 needs-validation" method="POST">
      <div class="mb-3">
        <input
          type="text"
          id="username"
          class="form-control form__input--text"
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-5">
        <input
          type="password"
          id="password"
          class="form-control form__input--text"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <button class="btn--form btn--form--success">Log in</button>
    </form>
  </div>
  <span class="d-inline-block"
    >Not a member yet?
    <a class="text-decoration-none" href="/register">Sign up now!</a></span
  >
</div>
