<% layout('layouts/boilerplate') %>

    <h1>Edit Workout</h1>

    <form action="/workouts/<%=workout._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="workout[workoutName]" value="<%= workout.workoutName%>">
        </div>

        <button>Update Workout</button>
    </form>

    <a href="/workouts/<%= workout._id %>">Back to Workout</a>
