<% layout('layouts/boilerplate') %>

<h1>Workout Log</h1>

    <ul>
        <% for (let workout of workouts) { %>
        <li> <a href="/workouts/<%= workout._id %>"><%=workout.workoutName%></a></li>
        <% } %>
    </ul>

</html>