<% layout('layouts/boilerplate') %>

    <h1><%= workout.workoutName %>%></h1>
    <p> <a href="/workouts/<%= workout._id%>/edit">Edit Workout</a>
    </p>
    <form action="/workouts/<%=workout._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <footer>
        <a href="/workouts">Back to Log</a>
    </footer>

